---
import '../styles/global.css';
import BasicLayout from './basicLayout.astro';

const {frontmatter} = Astro.props;

---

<BasicLayout pagetitle={null}, title={null}, subtitle={null}, description={null}>

    <h1>{frontmatter.title}</h1>
    <h2>by {frontmatter.author}</h2>
    <p>{frontmatter.description}<p>
    
    <hr>
    
    <slot /> <!-- Markdown content is injected here -->

</BasicLayout>
